.footer{
    overflow: hidden;
    background-color: #022FA2;
    width: 100%;
    padding: 20px 10px;
}
h1{
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin-left: 100px;
}
p{
    color: white;
    font-size: 17px;
    font-weight: bold;
    margin-left: 100px;
}
a{
    color: white;
    text-decoration: none;
    padding: 0 5px;
    font-size: 18px;
    font-weight: bold;
}
a:hover{
    color:#8A7757;
    transition: all .3s linear;
}